<!DOCTYPE html>
<html>
<head>
    <title>3D DUNGEON CRAWL</title>
    <link rel="stylesheet" href="dungeon.css">



</head>
<body>

    <div id="glower"></div>



	<div class="container">
		<nav class="sidebar"> 
            <h1>DUNGEON 1</h1>
            <p id="textbody">so right now this is placeholder text. This needs to change based on what coordinate the player is in.</p>
        
        
		</nav>
	</div>

    <script src="js/three.js"></script>
    <script src="js/Tween.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="dungeon.js"></script>
    <script src="jqueryglow.js"></script>
    <script>
        document.addEventListener("keydown", downArrow);
        document.addEventListener("keydown", leftArrow);
        document.addEventListener("keydown", rightArrow);
        document.addEventListener("keydown", upArrow);





    </script>

</body>
</html>